# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# SwiftPM
.swiftpm/
.build/

# CocoaPods (if you ever use it)
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Accio dependency manager
Dependencies/
.accio/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Archives
*.xcarchive

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
*.swp
*.lock
profile
*.moved-aside

# User-specific
*.hmap
*.xccoverage
*.xctest*

# Playground
timeline.xctimeline
playground.xcworkspace